<ion-content>
  <app-encabezado></app-encabezado>
  <img src="assets/Port.png"/>
  <p style="color: rgb(109, 106, 106); text-align: center; font-size: 20px;">Más de 16 000 empresas y millones de estudiantes de todo el mundo confían en nosotros</p>
  <img src="assets/sponsor.png"/>
  <p style="color: black; font-size: 35px; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif">Una amplia selección de cursos</p>
  <p style="color: rgb(0, 0, 0); font-size: 19px;">Elige entre más de 250 000 cursos de vídeo en línea con nuevo contenido cada mes</p>
  <div class="contenedor-busqueda">
    <app-curso></app-curso>
  </div>
  <p style="color: black; font-size: 26px; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif">Los estudiantes estan viendo</p>
  <div class="contenedor-busqueda">
    <app-curso></app-curso>
    <app-curso></app-curso>
    <app-curso></app-curso>
  </div>

  <ion-footer>
    <ion-toolbar>
      <ion-grid>
        <ion-row>
          <ion-col style="background: #2d2f31;">
            <div class="caja">
              <p>Udemy Business</p>
              <p>Enseña en Udemy</p>
              <p>Consigue la aplicación</p>
              <p>¿Quiénes somos?</p>
              <p>Ponte en contacto con nosotros</p>
            </div>
          </ion-col>
          <ion-col style="background: #2d2f31;">
            <div class="caja2">
              <p>Empleo</p>
              <p>Blog</p>
              <p>Ayuda y asistencia</p>
              <p>Afiliado</p>
              <p>Inversores</p>
            </div>
          </ion-col>
          <ion-col style="background: #2d2f31;">
            <div class="caja3">
              <p>Condiciones</p>
              <p>Politica de privacidad</p>
              <p>Configuracion de cookies</p>
              <p>Mapa del sitio</p>
              <p>Declaracion de accesibilidad</p>
            </div>
          </ion-col>
          <ion-col style="background: #2d2f31;">
            <div class="caja4">
              <ion-button fill="outline"><img src="assets/mundo.png" style="width: 16px; height: auto;"/> Español</ion-button>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-toolbar>
    </ion-footer>

</ion-content>