<ion-header>
  <ion-toolbar class="colorback">
      <div class="contenedor-busqueda">
      <img src="assets/icon/Udemylogo.png" style="width: 120px; height: auto;"/> 
      <p style="color: black;">categorias</p>
      <ion-searchbar placeholder="Buscar cualquier cosa" class="mi-busqueda" style="width: 450px; height: auto;"></ion-searchbar>
      <ion-button fill="clear"><img src="assets/Carrito.png" style="width: 30px; height: auto;"/></ion-button>
      <ion-button fill="outline" class="boton">Iniciar Sesión</ion-button>
      <ion-button fill="outline" class="colorbackb">Regístrate</ion-button>
      <ion-button fill="outline" class="boton"><img src="assets/mundo.png" style="width: 16px; height: auto;"/></ion-button>
    </div>
  </ion-toolbar>
</ion-header>